body 
{
    background-color: #eee;
    font-family: sans-serif;
}
    .card 
    {
        display: inline-block;
        position: relative;
        width: 2em; 
        height: 3em; 
        background-color: #ffffff;
        box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
        border-radius: 0.25em;
    }
      .card.red 
      {
        color: red;
      }      
      .card-topleft 
      {
        position: absolute;
        top: 0.1em;
        left: 0.75em;
      }
      .card-bottomright 
      {
        position: absolute;
        right: 0.75em;
        transform: rotate(180deg);
      }
      .card-corner-rank, .card-corner-suit 
      {
        width: 1em;
        text-align: center;
        transform: translate(-50%, 0);
      }


    .clickBtn 
    {
        display: inline-block;
        position: relative;
        width: 4em; 
        height: 3em; 
        background-color: #ffffff;
        box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
        border-radius: 0.25em;
    }


    .btn-group button 
    {
      background-color: white; /* Green background */
      border: 1px solid grey; /* Green border */
      border-radius: 5px;
      color: black; /* White text */
      padding: 10px 24px; /* Some padding */
      cursor: pointer; /* Pointer/hand icon */
      float: left; /* Float the buttons side by side */
    }
    
    /* Clear floats (clearfix hack) */
    .btn-group:after {
      content: "";
      clear: both;
      display: table;
    }
    
    .btn-group button:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }
    
    /* Add a background color on hover */
    .btn-group button:hover {
      background-color: BLue;
    }

    .btn-group-suit button 
    {
      background-color: white; /* Green background */
      border: 1px solid grey; /* Green border */
      border-radius: 5px;
      color: black; /* White text */
      padding: 10px 24px; /* Some padding */
      cursor: pointer; /* Pointer/hand icon */
      float: left; /* Float the buttons side by side */
      position: relative; left:78px
    }
    
    /* Clear floats (clearfix hack) */
    .btn-group-suit:after {
      content: "";
      clear: both;
      display: table;
    }
    
    .btn-group-suit button:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }
    
    /* Add a background color on hover */
    .btn-group-suit button:hover {
      background-color: BLue;
    }